In [35]:
from sqlalchemy import create_engine
from sqlalchemy import inspect
#import sqlalchemy
import urllib.parse

In [45]:
dialect = 'postgresql'
driver = 'psycopg2'
username = 'postgres'
password = 'EDBpass'
host = 'localhost'
port = '5432'
db_name = 'EmployeeSQL'

username = urllib.parse.quote_plus(username)
password = urllib.parse.quote_plus(password)


engine = create_engine(dialect + '+' + driver + '://' + username + ':' + password + '@' + host + ':' + port + '/' + db_name)
connection = engine.connect()
print (engine.table_names())

['dept_emp', 'departments', 'dept_manager', 'salaries', 'titles', 'employees']

In [44]:
inspector = inspect(engine)

for index, table_name in enumerate(inspector.get_table_names(schema='public')):
    print("Table " + str(index + 1) + ": %s" % table_name)
    for column in inspector.get_columns(table_name, schema='public'):
        print("Column: %s" % column)

Table 1: dept_emp
Column: {'name': 'emp_no', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'dept_no', 'type': CHAR(length=4), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Table 2: departments
Column: {'name': 'dept_no', 'type': CHAR(length=4), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'dept_name', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Table 3: dept_manager
Column: {'name': 'dept_no', 'type': CHAR(length=4), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'emp_no', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Table 4: salaries
Column: {'name': 'emp_no', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'salary', 'type': MONEY(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Table 5: titles
Column: {'name': 'title_id', 'type': CHAR(length=5), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'title', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Table 6: employees
Column: {'name': 'emp_no', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'emp_title_id', 'type': CHAR(length=5), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'birth_date', 'type': DATE(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'first_name', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'last_name', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'sex', 'type': CHAR(length=1), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}
Column: {'name': 'hire_date', 'type': DATE(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}